# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_STRIPE_KEY=pk_test_51O4Rq2HaexiOGySSjx149ZWEGTYULFYOe4uEadG1ivy2ugkXTtKCZoAqA1oboAQB65r6mmP4zcu1xCBq2vW8xwWW002NpKJvTI
NEXT_PUBLIC_SANITY_PROJECT_ID="06388ovz"
NEXT_PUBLIC_SANITY_DATASET="production"